*{
	margin: 0;
}
body{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}
body {
	background:url(../assets/img/back_img.png) repeat-x #d3eaff;
}
.wrapper {
	width:966px;
	min-height: 100%;
	height: 1000px;
	margin: 0 auto;
	padding-left: 0%;
	margin-left: fixed;
}
.wrapper:after{
	display: block;
}
.footer, .wrapper:after{
	height: 105px;
}
.containerHead{
	height: 50%;
	padding-left: 0px !important;
}
.text-align{
	padding-right: 5%;
	background-color: transparent;
}
.content{
		background-color: white;
		width:950px;
		float: left;
		border-radius: 4px;
}
.blink{
	visibility: visible;
	background-size: cover;
	position: relative;
	width: 966px;
	vertical-align: top;
}
.sppu-nav-tabs{
	height: 45px;
	width: 953px;
	margin-right: 0%;
	border-bottom: none !important;
	font-family: 'Jockey One','sans-serif';
	font-weight: normal;
	letter-spacing: 1px;
	text-shadow: 1px 2px 3px #000000;
	border-radius: 6px;
	margin-left: 13px;
	border: none !important;
	padding-left: 15px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+83,0e0e0e+92,0e0e0e+92,0e0e0e+92,0e0e0e+92,0e0e0e+92,0e0e0e+93,0e0e0e+93,0e0e0e+94 */
background: #7d7e7d; /* Old browsers */
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 83%, #0e0e0e 92%, #0e0e0e 92%, #0e0e0e 92%, #0e0e0e 92%, #0e0e0e 92%, #0e0e0e 93%, #0e0e0e 93%, #0e0e0e 94%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 83%,#0e0e0e 92%,#0e0e0e 92%,#0e0e0e 92%,#0e0e0e 92%,#0e0e0e 92%,#0e0e0e 93%,#0e0e0e 93%,#0e0e0e 94%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 83%,#0e0e0e 92%,#0e0e0e 92%,#0e0e0e 92%,#0e0e0e 92%,#0e0e0e 92%,#0e0e0e 93%,#0e0e0e 93%,#0e0e0e 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

}
.sppu-nav-tabs a{
	color: #AAAAAA;
	border-right: 1px solid black !important;
	border-radius: 0px !important;
}
.sppu-nav-tabs a:hover{
	color: #fdcd04;
	background-color:#333333 !important;
	height:45px;
	border-radius: 2px;
}
.sppu-nav-tabs>li.active>a{
	color:#fdcd04 !important;
	background-color: #333333 !important;
    border-left: 1px solid black !important;
	height: 45px;
    cursor:pointer !important;
}
.sppu-nav-tabs>li>a{
	border-radius: none !important;
}
.footerLeftImg{
	background-image: url(../assets/img/fotter_left.png);
	width:10px;
	height:110px;
	float:left;
	margin-left: 6px;
	border-radius: px;
}
.footerMidImg{
	background-image: url(../assets/img/fotter_mid.png);
	width:950px;
	height:110px;
	float:left;
	border-radius: 6px;
}
.footerRightImg{
	background-image: url(../assets/img/fotter_right.png);
	width:10px;
	height:110px;
	float:left;
}
.footerline{
	margin-top: -35px;
}
.headLeft{
	background: url(../assets/img/header_left.png);
	width:17px;
	height:132px;
	float:left;
	margin-top: 4px;
}
.headMid{
	background: url(../assets/img/header_mid.png);
	width:916px;
	height:132px;
	float:left;
	margin-top: 4px;
}
.headRight{
	background: url(../assets/img/header_right.png);
	width:17px;
	height:132px;
	float:left;
	margin-top: 4px;
}
.site-title {
	float: left;
	margin: 3px 0 0px 0;
	width: auto;
	font-size: 30px;
	line-height: 36px;
	margin-top: 35px;
}
.site-title span {
	color:#fdcd04 !important;
	letter-spacing:-1px;
	font-family:Trebuchet MS,sans-serif;
	font-weight:bold;
	text-decoration: none;
	display:block; 
	margin-top:-65px; 
	margin-left:110px; 
	text-shadow: 1px 1px 5px #222222;
}
.site-description {
	font-style: italic;
	margin-top:-100px; 
	margin-left:110px;
	color:#FFF;
	font-size:18px;
	width: 220px;
	font-weight: bold;
}
#access2 {
	background: transparent;
	margin: 0 auto;
	width: 939px;
	display:block;
	float:left;
	font-weight:bold;
}
.menu_panel_l {
	width:9px;
	height:45px;
	float:left;
	background:url(../assets/img/menu_left.png);
}
.menu_panel_mid {
	width:auto;
	height:45px;
	float:left;
	width:922px;
	background:url(../assets/img/menu_mid.png);
}
.menu_panel_r {
	width:9px;
	height:45px;
	float:left;
	background:url(../assets/img/menu_right.png);
}
.aboutImage{
	background-image: url(../assets/img/About_back.png);
	background-repeat: 50% 50% repeat;
}
.homeTitle{
	font-family: 'Marvel','sans-serif';
	font-size:30px;
	line-height:1.3em;
	color: #444;
}
.rightTitle{
	font-family: 'Marvel','sans-serif';
	font-size:25px;
	line-height:1.3em;
	color: #444;
}
.homeChar{
	font-family: 'Marvel','sans-serif';
	margin-top:40px;
	margin-bottom:30px;
	/*color: #444;*/
	font-weight: bold;
}
.recNews{
	font-family: 'Marvel','sans-serif';
	text-align:center;
	font-size:22px;
	color:#222;
	margin-top: -10px;
	cursor: pointer;
    margin-bottom:3%;
}
.recNewsCont{
	text-align: left;
	font-size: 13px !important;
	padding-bottom: 22px;
}
.recNewsCont:hover>a{
	 text-decoration: underline;
	 color: red !important; 
	 cursor: pointer;
}
.homeTable{
	margin-top:20px;
	height:300px;
	background-color: #f2f2f2;
	width: 250px !important;
}
.acadDrop{
	background-color: #555;
}
.acadDrop a{
	color: #AAAAAA !important;
}
.acadDrop>li.active>a{
    color: #fdcd04 !important;
    background-color:none;
}
.acadDrop>li:hover{
    background-color:none;
}
.acadDrop>li>a:hover{
    color: #fdcd04 !important;
    background-color:none;
}

.facultyName{
	padding-left:px;
	border:10px solid #f2f2f2;
}
.facultyNameHead{
	font-weight: bold;
}
.facultyImg{
	border:10px solid #f2f2f2;
}
.formStyle{
	width:270px;
	margin-bottom:10px;
	background-color: #f2f2f2;
}
.sub{
	background-color:#FFF5EE;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 20px;
}
.p1{
	background-color: #F5DEB3;
    text-align:right;
    padding-right:4%;
}
.p2{
	background-color:#FFEFD5;
    text-align:right;
    padding-right:4%;
}
.tbl{
	 width:700px;
	 margin-left:120px;
	 margin-bottom: 30px;
	 margin-top: 10px;
}
.footc{
	color:grey;
	font-size:0.9em;
	padding-top:10px;
}
.foota{
	color:grey;
	font-size:0.9em;
}
.footl{
	color:grey; 
	padding-top:20px;
	font-size:0.9em;
}
.qlinks{
	color:#f1f1f1;
	text-decoration:none !important;
	padding-right: 5px;
	padding-left: 5px;
}
.qlinks a{
	color: white !important;
}
.cetTop{
	display: block;
	margin: 0 auto;
	border: 10px solid #eee;
}	
.cetName{
	text-align: center;
	font-weight: bold;
	padding-bottom: 10px;
}
.newsTblHead{
	text-align:center;
	font-size:17px;
	color:#888;
}
.newsTblBody{
	padding-top:25px;
	padding-bottom:25px;
}
.newsTblBodyCont{
	font-size:15px;
	font-weight:bold;
}
.contTopImg{
	width:955px;
	float:left; 
	padding-top:13px;
}
.contBtmImg{
	width:955px; 
	height:15px;
	float:left
}
.grad{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+83,0e0e0e+92,0e0e0e+92,0e0e0e+92,0e0e0e+92,0e0e0e+92,0e0e0e+93,0e0e0e+93,0e0e0e+94 */
background: #7d7e7d; /* Old browsers */
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 83%, #0e0e0e 92%, #0e0e0e 92%, #0e0e0e 92%, #0e0e0e 92%, #0e0e0e 92%, #0e0e0e 93%, #0e0e0e 93%, #0e0e0e 94%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 83%,#0e0e0e 92%,#0e0e0e 92%,#0e0e0e 92%,#0e0e0e 92%,#0e0e0e 92%,#0e0e0e 93%,#0e0e0e 93%,#0e0e0e 94%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 83%,#0e0e0e 92%,#0e0e0e 92%,#0e0e0e 92%,#0e0e0e 92%,#0e0e0e 92%,#0e0e0e 93%,#0e0e0e 93%,#0e0e0e 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}
.grad:hover{
	background-color: lightsteelblue !important;
}
.aboutTitle{
	font-family: 'Marvel','sans-serif';
	margin-top:2px;
	margin-bottom:2px;
	font-weight: bold;
	font-size: 20px;
}
.accolades{
	width:250px;
	height:500px;
	border:1px solid black;
	border-radius: 12px;
	background-color: black;
	box-sizing: border-box;
	max-height: 100%;
	overflow-y: hidden;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 3%;
}
.ctLink a:hover{
    color:white !important;
}
.content-style{
    font-size:13px;
    text-align:justify;
}
.content-style li{
    margin-bottom:0.5%;
}
.nav-tabs>li>a {
    margin-left:-3% !important;
}
.nav-tabs>li>a:hover {
    margin-left:-3% !important;
    border-left:1px solid black;
}
.nav-tabs>li>a:hover{
    border-top-color:#333333 !important;
    border-bottom-color:#333333 !important;
}
.nav-tabs>li.active>a{
    border-top-color:#333333 !important;
}
.dropdown-menu>li>a:hover {
    height:inherit;
}

/*Dropdown CSS*/
/*.dropdown:hover .dropdown-menu {
    display: block;
 }*/
 .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
     background-color:inherit !important;
 }
 
 .newsImage{
	margin-bottom:10px;
	border-radius:8px;
}