<div class="container-fluid margin-style">
	<div class="row">
		<div class="col-md-12">
			<h4 class="title-display">Holiday List for Academic Year 2016-17</h4>
			<table class="table table-condensed hl-tbl-hvr" style="margin-left: 1%;">
                <thead>
                    <tr>
                        <th style="width:7%">SN</th>
                        <th style="width:19%">Date</th>
                        <th style="width:20%">Day</th>
                        <th>Holidays</th>
                    </tr>
                </thead>
				<tbody>
                    <tr>
                        <td>1</td>
                        <td>06-07-2016</td>
                        <td>Wednesday</td>
                        <td>Ramzan</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>07-08-2016</td>
                        <td>Sunday</td>
                        <td>Nagarapanchami</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>12-08-2016</td>
                        <td>Friday</td>
                        <td>Varamahalakshmi</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>15-08-2016</td>
                        <td>Monday</td>
                        <td>Independence Day</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>20-08-2016</td>
                        <td>Saturday</td>
                        <td>Sri Raghavendra Swamy Aradhane</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>25-08-2016</td>
                        <td>Thursday</td>
                        <td>Sri Krishna Janmashtami</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>04-09-2016</td>
                        <td>Sunday</td>
                        <td>Swarna Gowri Vratha</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>05-09-2016</td>
                        <td>Monday</td>
                        <td>Ganesh Chaturthi</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>12-09-2016</td>
                        <td>Monday</td>
                        <td>Bakrid</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>30-09-2016</td>
                        <td>Friday</td>
                        <td>Mahalaya Amavasya</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>02-10-2016</td>
                        <td>Sunday</td>
                        <td>Gandhi Jayanthi</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>10-10-2016</td>
                        <td>Monday</td>
                        <td>Mahanavami</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>11-10-2016</td>
                        <td>Tuesday</td>
                        <td>Vijayadashami</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>12-10-2016</td>
                        <td>Wednesday</td>
                        <td>Moharram</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>15-10-2016</td>
                        <td>Saturday</td>
                        <td>Valmiki Jayanthi</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>29-10-2016</td>
                        <td>Saturday</td>
                        <td>Naraka Chaturdashi</td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>30-10-2016</td>
                        <td>Sunday</td>
                        <td>Amavasye Lakshmi Pooja</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>31-10-2016</td>
                        <td>Monday</td>
                        <td>Balipadyami</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>01-11-2016</td>
                        <td>Tuesday</td>
                        <td>Kannada Rajyotsava</td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>17-11-2016</td>
                        <td>Thursday</td>
                        <td>Kanakadasa Jayanthi</td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>12-12-2016</td>
                        <td>Monday</td>
                        <td>Id-Milad</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>25-12-2016</td>
                        <td>Sunday</td>
                        <td>Christmas</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>14-01-2017</td>
                        <td>Saturday</td>
                        <td>Makara Sankranthi</td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>26-01-2017</td>
                        <td>Tuesday</td>
                        <td>Republic Day</td>
                    </tr>
                    <tr>
                        <td>25</td>
                        <td>24-02-2017</td>
                        <td>Friday</td>
                        <td>Mahashivarathri</td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>10-03-2017</td>
                        <td>Friday</td>
                        <td>Good Friday</td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>29-03-2017</td>
                        <td>Wednesday</td>
                        <td>Ugadi</td>
                    </tr>
                </tbody>
			</table>
		</div>
	</div>
    <div class="row">
		<div class="col-md-12">
			<h4 class="title-display">Celebrations At School 2016-17</h4>
			<table class="table table-condensed hl-tbl-hvr" style="margin-left: 1%;">
                <thead>
                    <tr>
                        <th style="width:7%">SN</th>
                        <th style="width:19%">Date</th>
                        <th style="width:20%">Day</th>
                        <th>Events</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>05-06-2016</td>
                        <td>Sunday</td>
                        <td>World Environment Day</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>16-09-2016</td>
                        <td>Friday</td>
                        <td>World Ozone Day</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>14-11-2016</td>
                        <td>Monday</td>
                        <td>Children's Day</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>12-01-2017</td>
                        <td>Thursday</td>
                        <td>National Youth Day</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>28-02-2017</td>
                        <td>Tuesday</td>
                        <td>National Science Day</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>