 <div class="content">
    <div class="container-fluid margin-style">
	<h4 class="title-display">A Day At School</h4>
    	<p style="padding-right:1%">Games are correlated to the classroom concepts like counting, recognizing odd and even numbers, shapes, colours etc, to develop motor skills, auditory- visual discrimination, eye-hand co-ordination, one-to-one interaction and logical thinking.</p>
        <h4 style="color:initial">Organized Games – Outdoor games</h4>
        <div style="text-align:center;padding-bottom:1%">
        	<img style="margin-right:40px;" src="../assets/img/nursery-outdoor-1.jpg" alt="Outdoor Games"  />
        	<img src="../assets/img/nursery-outdoor-2.jpg" alt="Outdoor Games"  />
        </div>
        <h4 style="color:initial">Organized Games – Indoor games</h4>
        <div style="text-align:center;padding-bottom:2%">
        	<img style="margin-right:40px;" src="../assets/img/nursery-indoor-1.jpg" alt="Indoor Games"  />
        	<img src="../assets/img/nursery-indoor-2.jpg" alt="Indoor Games"  />
        </div>
    </div>
  </div>