homeTitle{
	font-family: 'Marvel','sans-serif';
	font-size:30px;
	line-height:1.3em;
	color: #444;
}
.rightTitle{
	font-family: 'Marvel','sans-serif';
	font-size:25px;
	line-height:1.3em;
	color: #444;
}
.homeChar{
	font-family: 'Marvel','sans-serif';
	margin-top:40px;
	margin-bottom:30px;
	/*color: #444;*/
	font-weight: bold;
}