<div class="container-fluid margin-style" style="padding-bottom:2%">
    <div class="row">
            <div class="col-md-8">
                    <h3 class="homeTitle"> Contact Us </h3>
                    <h4 class="homeChar"> Address: </h4>
                    <div style="font-weight:bold;">
                            <p> “Mangala Dhama”, II Block, III Stage,</p>
                            <p> Basaveshwara Nagar, Bangalore – 560079.</p>
                            <p> Phone : +91.80.2323.5912 </p>
                            <p> Email : vvssardarpatelpucollege@yahoo.com </p>
                    </div>
                    <div>
                            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="600" height="400" src="https://maps.google.com/maps?hl=en&q=VVS Sardar Patel PU College 42, Mangala Dhama, 2nd Block, Basaveshwara Nagar, 3rd Stage, Bengaluru, Karnataka 560079, India&ie=UTF8&t=roadmap&z=17&iwloc=B&output=embed">
                                    <div><small><a href="http://embedgooglemaps.com">embedgooglemaps.com</a></small></div>
                                    <div><small><a href="http://buyproxies.io/">buy private proxies</a></small></div>
                            </iframe>
                    </div>
            </div>
            <div class="col-md-4">
                    <h5 class="rightTitle" style="margin-top:7%"> Working Hours </h5>
                    <div>
                            <p style="font-weight:bold;"> Monday - Friday <span style="margin-left:30px;font-weight:normal;">  9:30 A.M - 4:00 P.M </span>                                        </p>
                            <p style="font-weight:bold;"> Saturday <span style="margin-left:77px;font-weight:normal;">  9:30 A.M - 1:00 P.M </span>                                        </p>
                    </div>
            </div>
    </div>
</div>