body{
	background-image: url(../assets/img/index_back.png);
	background-attachment: fixed;
	padding:2% 0% 0% 0%;
}
.page_title{
	color:white;
	padding: 0%;
	 text-decoration: underline;
}
.home{
	padding: 0% 2% 0% 30%;
	color:#1a75ff;
}
.contact{
	padding: 0% 2% 0% 20%;
	color:#1a75ff;

}
.pageindex{
	color:white;
	padding:1% 0% 1% 34%;
}
div{
	color: white;
	padding: 2% 0% 0% 5%;
	font-size: 1.5em;
	font-family: "Georgia", Times, serif;
	
}