body{
	background-image: url(../assets/img/background_basic.jpg);
	background-attachment: fixed;
	height:100%;
}
.heading{
	text-align: center;
	background-image: url(../assets/img/background.jpg);
	color:white;
	padding:1% 0% 1% 0%;
}
.basic{
	font-family: "Georgia", Times, serif;
	font-size: 2.6em;
}
p{
	padding:1% .5% 0% 2%;
	font-size: 1.8em;
}
.overview{
	text-decoration: underline;
	font-size: 2.5em;
}
div{
	padding:1% 1% .5% 4%;
	font-size: 1.8em;
	
}
.img{
	padding:1% 0% 0% 40%;
}
h2{
  text-decoration: underline;
}