body{
	background-image: url(../assets/img/background_basic.jpg);
	background-attachment: fixed;
}
.heading{
	text-align: center;
	background-image: url(../assets/img/background.jpg);
	color:white;
	padding:20px 0px 10px 0px;
}
.basic{
	font-family: "Georgia", Times, serif;
	font-size: 50px;
}
p{
	padding:30px 10px 5px 50px;
	font-size: 25px;
}
.overview{
	text-decoration: underline;
}
div{
	padding:10px 10px 5px 50px;
	font-size: 20px;
	
}
.img{
	padding:20px 0px 0px 400px;
}
h3{
  text-decoration: underline;
}