body{
	background-image: url(../assets/img/background_basic.jpg);
	background-attachment: fixed;
	height:100%;
}
.heading{
	text-align: center;
	background-image: url(../assets/img/background.jpg);
	color:white;
	padding:2% 0% 2% 0%;
}
.basic{
	font-family: "Georgia", Times, serif;
	font-size: 1.2em;
}
p{
	padding:1% .5% 0% 2%;
	font-size: 1.5em;
}
.overview{
	text-decoration: underline;
	font-size: 2.0em;
}
div{
	padding:1% 1% .5% 4%;
	font-size: 1.5em;
	
}
.img{
	padding:1% 0% 0% 40%;
}
h2{
  text-decoration: underline;
}
.about{
	padding: 0% 2% 0% 20%;
}
.contact{
	padding: 0% 2% 0% 20%;

}
.pageindex{
	color:black;
	padding:1% 0% 5% 34%;
}
.home{
	padding: 0% 2% 0% 10%;

}
.sec_nav{
	font-size: 2.5em;
}
