*{
	list-style-type: none;
	margin: 0%;
	padding:0% 0%;
}
.background{
	background-image: url(../assets/img/index_back.png);
	background-attachment: fixed;
	padding:2% 0% 0% 0%;
}
.page_title{
	color:white;
	padding: 0%;
}
.head{
	padding:0%;
}
.start{
	color:white;
	padding:0% 0% 2% 0%;
}