body{
	background-image: url(../assets/img/background_basic.jpg);
	background-attachment: fixed;
	height:100%;
}
.heading{
	text-align: center;
	background-image: url(../assets/img/background.jpg);
	color:white;
	padding:1% 0% 1% 0%;
}
.workflow{
	font-family: "Georgia", Times, serif;
	font-size: 3.5em;
}
h3{
	padding: 1% .5% 0% 2%;
	font-size: 2em;
	font-weight: bold;
	font-family: "Constantia", Times, serif;
}
p{
	padding:.5% 1% 0% 2%;
	font-size: 1.8em;
}
.img{
	padding:1% 0% 0% 15%;
}
ol{
	font-size: 1.8em;
	padding:.5% 1% 0% 5%;
}