body{
	background-image: url(../assets/img/background_basic.jpg);
	background-attachment: fixed;
	height:100%;
}
.heading{
	text-align: center;
	background-image: url(../assets/img/background.jpg);
	color:white;
	padding:20px 0px 10px 0px;
}
.workflow{
	font-family: "Georgia", Times, serif;
	font-size: 50px;
}
h3{
	padding: 30px 10px 5px 50px;
	font-size: 35px;
	font-weight: bold;
	font-family: "Constantia", Times, serif;
}
p{
	padding:10px 20px 5px 40px;
	font-size: 25px;
}
.img{
	padding:20px 0px 0px 200px;
}