 <div class="content">
    <div class="container-fluid margin-style">
	<h4 class="title-display">Physical Development</h4>
    	<img   style="margin-right:20px;margin-bottom:2%" src="../assets/img/indooractivity.png" alt="IndoorActivities"/>     	
        <p class="box" style="width:450px">Indoor activities such as threading beads, sorting grains, pegging, fixing toys etc help children develop fine motor skills.</p> 
        <p class="box" style="width:450px">Physical development is achieved through organized games and free play. </p>    

        <img   src="../assets/img/outdooractivity.png" alt="outdooractivities" style="margin-bottom:2%"/>    
		<img   style="margin-right:0;margin-bottom:3%" src="../assets/img/physicalactivity.png" alt="physicalactivities" />     
        <p class="box" style="width:480px">Physical development is achieved through organized games and free play. </p>  
    </div>
  </div>