.homeTitle{
	font-family: 'Marvel','sans-serif';
	font-size:30px;
	line-height:1.3em;
	color: #444;
}
.newsTblHead{
	text-align:center;
	font-size:17px;
	color:#888;
}
.newsTblBody{
	padding-top:25px;
	padding-bottom:25px;
}
.newsTblBodyCont{
	font-size:15px;
	font-weight:bold;
}
.newsImage{
	margin-bottom:10px;
	border-radius:8px;
}
.cetTop{
	display: block;
	margin: 0 auto;
	border: 10px solid #eee;
}	
.cetName{
	text-align: center;
	font-weight: bold;
	padding-bottom: 10px;
}