<div class="container-fluid margin-style" style="padding-left:5%;padding-right:5%;margin-top:3%">
    <div id="Rasasanje-2016" style="margin-bottom:3%">
        <div class="row">
            <div id="cet_top" class="col-md-12">
                <h3 class="homeTitle">Invitation for Rasa Sanje Programme 2016</h3>
            </div>
        </div>
        <div style="padding-top:1%">
            <span><img class="newsImage" src="assets/img/Rasasanje-Invitation-2016.jpg"/></span>
        </div>
    </div>
    <div id="Rashtriya-Ekta-Diwas" style="margin-bottom:3%">
        <div class="row">
            <div id="cet_top" class="col-md-12">
                <h3 class="homeTitle">Observing Rashtriya Ekta Diwas</h3>
            </div>
        </div>
        <hr style="margin-top:0.5%;margin-bottom:0.5%" />
        <div style="font-weight:bold;font-size:25px;" class="text-center homeTitle">Birth Anniversary of Sardar Vallabhbhai Patel</div>
        <hr style="margin-top:0.5%" />
        <div style="padding-top:1%">
            <span><img class="newsImage" src="assets/img/Sardar-Patel-Pledge.png"/></span>
            <span style="padding-right:2%"><img class="newsImage" src="assets/img/Sardar-Patel-1.jpg"/></span>
            <span><img class="newsImage" src="assets/img/Sardar-Patel-2.jpg"/></span>
            <span style="padding-right:2%"><img class="newsImage" src="assets/img/Sardar-Patel-3.jpg"/></span>
            <span><img class="newsImage" src="assets/img/Sardar-Patel-4.jpg"/></span>
        </div>
    </div>
    <div id="happyDeepavali">
        <p class="homeTitle">Happy Deepavali</p>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="newsTblBody" style="padding:2%"><em class="newsTblBodyCont">Wishing everyone a very Happy Deepavali</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="rajyotsava">
        <p class="homeTitle">Deepavali holidays & Kannada Rajyotsava Notification</p>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="newsTblBody" style="padding:2%">
                        <div><em class="newsTblBodyCont">College will remain closed on 29th October 2016, 30th October 2016, 31st October 2016.</em></div>
                        <hr/>
                        <div><em class="newsTblBodyCont">On 1st November 2016 Kannada Rajyotsava will be celebrated in Dhruvadhama.</em></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="OctTimeTable" style="margin-bottom:3%">
        <div class="row">
            <div id="cet_top" class="col-md-12" style="padding-left:1%">
                <h3 class="homeTitle">Time table from 19th October 2016 to 22nd October 2016</h3>
            </div>
        </div>
        <div style="padding-top:1%">
            <img class="newsImage center" src="assets/img/SPPU_TimeTable_161019_to_161022.png" style="width:100%;height:45em" />
        </div>
    </div>
    <div id="MidTermExam">
        <div class="homeTitle" style="padding-bottom:2%">Mid Term Examination Time Table</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>DATE & TIME</th>
                    <th>I YEAR P.U.C</th>
                    <th>II YEAR P.U.C</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span style="display:block;font-weight:bold">28-09-2016</span>
                        <span style="display:block">Wednesday</span>
                        <span style="display:block">(10:00 am to 1:15 pm)</span>
                    </td>
                    <td>KANNADA / SANSKRIT / HINDI</td>
                    <td>ENGLISH</td>
                </tr>
                <tr>
                    <td>
                        <span style="display:block;font-weight:bold">29-09-2016</span>
                        <span style="display:block">Thursday</span>
                        <span style="display:block">(10:00 am to 1:15 pm)</span>
                    </td>
                    <td>ENGLISH</td>
                    <td>KANNADA / SANSKRIT / HINDI</td>
                </tr>
                <tr>
                    <td>
                        <span style="display:block;font-weight:bold">03-10-2016</span>
                        <span style="display:block">Monday</span>
                        <span style="display:block">(10:00 am to 1:15 pm)</span>
                    </td>
                    <td>PHYSICS</td>
                    <td>CHEMISTRY</td>
                </tr>
                <tr>
                    <td>
                        <span style="display:block;font-weight:bold">04-10-2016</span>
                        <span style="display:block">Tuesday</span>
                        <span style="display:block">(10:00 am to 1:15 pm)</span>
                    </td>
                    <td>CHEMISTRY</td>
                    <td>MATHEMATICS</td>
                </tr>
                <tr>
                    <td>
                        <span style="display:block;font-weight:bold">06-10-2016</span>
                        <span style="display:block">Thursday</span>
                        <span style="display:block">(10:00 am to 1:15 pm)</span>
                    </td>
                    <td>MATHEMATICS</td>
                    <td>PHYSICS</td>
                </tr>
                <tr>
                    <td>
                        <span style="display:block;font-weight:bold">07-10-2016</span>
                        <span style="display:block">Friday</span>
                        <span style="display:block">(10:00 am to 1:15 pm)</span>
                    </td>
                    <td>BIOLOGY / ELECTRONICS</td>
                    <td>BIOLOGY / ELECTRONICS</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="OctSchedule">
        <div class="homeTitle" style="padding-bottom:2%">October Schedule</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Particulars</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Upto 7th October 2016</td>
                    <td>Mid Term Examination</td>
                </tr>
                <tr>
                    <td>8th October 2016</td>
                    <td>Sports Day</td>
                </tr>
                <tr>
                    <td>9th October 2016 to 18th October 2016</td>
                    <td>Mid Term Vacation</td>
                </tr>
                <tr>
                    <td>19th October 2016</td>
                    <td>Reopening</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="curfew">
        <p class="homeTitle">College will remain closed on 14th September 2016</p>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="newsTblBody text-center" style="padding:2%"><em class="newsTblBodyCont">College will remain closed on 14th September 2016 as curfew has continued in the area.</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="mhrd">
        <p class="homeTitle">Application for Scholarships for students who have 80% percentile in II PUC 2016 results</p>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="newsTblBody text-center" style="padding:2%"><em class="newsTblBodyCont">MHRD, New Delhi has announced scholarships for students who have 80% percentile in II PUC 2016 results. Interested students may go through the Website <a  href="http://scholarships.gov.in" target="_blank">www.scholarships.gov.in</a> and apply.</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="suraj">
        <p class="homeTitle">Congratulations to Mr. Suraj M</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="newsTblHead">Hearty Congratulations to</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="newsTblBody text-center"><em class="newsTblBodyCont">Mr. Suraj M for being the State Topper in NEET Examination 2015-2016.</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="competition">
        <p class="homeTitle">Prize Winners of Inter-Collegiate Competition held at RPA PU College on 20th Aug, Saturday</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="newsTblHead">
                        <p><strong>We Whole Heartedly Congratulate</strong></p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="newsTblBody">
                        <p> <em class="newsTblBodyCont">Anvitha - III prize - Bhakti Geete</em></p>
                        <hr/>
                        <p> <em class="newsTblBodyCont">Padmini - II prize - Bhakti Geete</em></p>
                        <hr/>
                        <p> <em class="newsTblBodyCont">Bhavageeta - III prize - Bhavageete</em></p>
                        <hr/>
                        <p> <em class="newsTblBodyCont">Shreyas - II prize - Debate</em></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="homeTitle">Prize Winners of Inter-Collegiate Competition held at Carmel PU College on 27th Aug, Saturday</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="newsTblHead">
                        <p><strong>We Whole Heartedly Congratulate</strong></p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="newsTblBody">
                        <p> <em class="newsTblBodyCont">Shreyas D - II Prize - Mathability</em></p>
                        <hr/>
                        <p> <em class="newsTblBodyCont">Varna V Nadiger - II Prize - Bhagawat Geetha</em></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="ITWiz">
        <p class="homeTitle">5th Place in IT WIZ – 2016/17 Quiz Competition</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="newsTblHead">
                        <p><strong>We Whole Heartedly Congratulate</strong></p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="newsTblBody">
                        <p> <em class="newsTblBodyCont">Ashwin Alaparthi</em></p>
                        <hr/>
                        <p> <em class="newsTblBodyCont">Anirudh Patil</em></p>
                        <hr/>
                        <p> <em class="newsTblBodyCont">Ranjit C</em></p>
                        <hr/>
                        <p> <em class="newsTblBodyCont">Tejas P</em></p>
                        <hr/>
                        <p class="newsTblHead" style="text-align:left"><em><strong>of I year ‘B’ section who have won 5th place in IT WIZ – 2016/17 quiz competition conducted by TCS for class 8th – 12th grade from all over Bangalore.</strong></em></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="ParentMentorMeet">
        <p class="homeTitle">I Year B & C Sections Parent-Mentor Meet</p>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="newsTblBody text-center" style="padding:2%"><em class="newsTblBodyCont">I Year B & C Sections Parent-Mentor meet from 25th August 2016 to 31st August 2016.</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="cardMaking" style="margin-bottom:3%">
        <div class="row">
            <div id="cet_top" class="col-md-12" style="padding-left:1%">
                <h3 class="homeTitle">Card making competition held in VVSSPPUC</h3>
            </div>
        </div>
        <div style="padding-top:1%">
            <img class="newsImage center" src="assets/img/card1.jpg" />
        </div>
    </div>
    <div id="talentDay" style="margin-bottom:3%">
        <div class="row">
            <div id="cet_top" class="col-md-12" style="padding-left:1%">
                <h3 class="homeTitle"> Talent's day Programme held in VVSSPPUC</h3>
            </div>
        </div>
        <div style="padding-top:1%">
            <span style="padding-right:2%"><img class="newsImage" src="assets/img/talent-1.jpg"/></span>
            <span style="padding-right:2%"><img class="newsImage" src="assets/img/talent-2.jpg"/></span>
            <span><img class="newsImage" src="assets/img/talent-3.jpg"/></span>
        </div>
    </div>
    <div id="YogaDay" style="margin-bottom:3%">
        <div class="row">
            <div id="cet_top" class="col-md-12">
                <h3 class="homeTitle">International Yoga Day Celebration (2016-2017) at VVSSPPUC</h3>
            </div>
        </div>
        <hr style="margin-top:0.5%;margin-bottom:0.5%" />
        <div style="font-weight:bold;font-size:25px;" class="text-center homeTitle">A Sound Mind in a Sound Body</div>
        <hr style="margin-top:0.5%" />
        <div style="padding-top:1%">
            <span style="padding-right:2%"><img class="newsImage" src="assets/img/yoga-1.jpg"/></span>
            <span><img class="newsImage" src="assets/img/yoga-2.jpg"/></span>
            <span style="padding-right:2%"><img class="newsImage" src="assets/img/yoga-3.jpg"/></span>
            <span><img class="newsImage" src="assets/img/yoga-4.jpg"/></span>
        </div>
    </div>
    <div id="CET2015-16">
        <p class="homeTitle">CET Top Scorers 2015-16</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="newsTblHead">
                        <p>As a feather in the cap</p>
                        <p>The success story continues with our students securing Top CET Ranks</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="newsTblBody">
                        <p> <em class="newsTblBodyCont">I Rank - Milind Kumar Vaddiraju</em></p>
                        <hr/>
                        <p> <em class="newsTblBodyCont">V Rank - Vignesh S</em></p>
                        <hr/>
                        <p> <em class="newsTblBodyCont">VII Rank - Sourav Bharadwaj</em></p>
                        <hr/>
                        <p> <em class="newsTblBodyCont">X Rank - Deepraj Bhat</em></p>
                        <hr/>
                        <p> <em class="newsTblBodyCont">XI Rank – Suraj M</em></p>
                        <hr/>
                        <p class="newsTblHead" style="text-align:left"><em><strong>and many more within top 100 ranks</strong></em></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="Rakshitha">
        <p class="homeTitle">Ms. Rakshitha T secures 1st Rank to the State in II P.U.C Exam - 2016</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="newsTblHead"> Hearty Congratulations to </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="newsTblBody text-center"><em class="newsTblBodyCont">Ms. Rakshitha T on securing 1st Rank to the State in II P.U.C Examination - 2016</em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="TopScorers2015-16">
        <div class="homeTitle" style="padding-bottom:2%"> II P.U.C TOP SCORERS : 2015-2016 </div>
        <table class="table table-bordered">
            <thead style="color:grey;">
                <tr>
                    <th>Sl.No</th>
                    <th>Name Of The Student</th>
                    <th>Section</th>
                    <th>Score</th>
                    <th>College Rank</th>
                    <th>State Rank</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-weight:bold">
                    <td>1</td>
                    <td>Rakshitha T</td>
                    <td>B</td>
                    <td>596</td>
                    <td>I</td>
                    <td>I</td>
                </tr>
                <tr>
                    <td rowspan="2" style="vertical-align:middle">2</td>
                    <td>Bhoomika T L</td>
                    <td>A</td>
                    <td rowspan="2" style="vertical-align:middle">591</td>
                    <td rowspan="2" style="vertical-align:middle">II</td>
                    <td rowspan="2" style="vertical-align:middle">VI</td>
                </tr>
                <tr>
                    <td>Gagana P</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td rowspan="2" style="vertical-align:middle">3</td>
                    <td>Bharath Raghunath</td>
                    <td>A</td>
                    <td rowspan="2" style="vertical-align:middle">590</td>
                    <td rowspan="2" style="vertical-align:middle">III</td>
                    <td rowspan="2" style="vertical-align:middle">VII</td>
                </tr>
                <tr>
                    <td>Tejas Kumar</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td rowspan="2" style="vertical-align:middle">4</td>
                    <td>Anirudh B H</td>
                    <td>B</td>
                    <td rowspan="2" style="vertical-align:middle">589</td>
                    <td rowspan="2" style="vertical-align:middle">IV</td>
                    <td rowspan="2" style="vertical-align:middle">VIII</td>
                </tr>
                <tr>
                    <td>Anughna G</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td rowspan="2" style="vertical-align:middle">5</td>
                    <td>Abhighna G</td>
                    <td>B</td>
                    <td rowspan="2" style="vertical-align:middle">588</td>
                    <td rowspan="2" style="vertical-align:middle">V</td>
                    <td rowspan="2" style="vertical-align:middle">IX</td>
                </tr>
                <tr>
                    <td>Ananya D Apsangi</td>
                    <td>A</td>
                </tr>
                <tr>
                    <td rowspan="3" style="vertical-align:middle">6</td>
                    <td>Prajwala P</td>
                    <td>B</td>
                    <td rowspan="3" style="vertical-align:middle">587</td>
                    <td rowspan="3" style="vertical-align:middle">VI</td>
                    <td rowspan="3" style="vertical-align:middle">X</td>
                </tr>
                <tr>
                    <td>Sanjay M</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>Vinay Reddy</td>
                    <td>C</td>
                </tr>
                <tr>
                    <td rowspan="4" style="vertical-align:middle">7</td>
                    <td>Dhanya Bharath</td>
                    <td>B</td>
                    <td rowspan="4" style="vertical-align:middle">586</td>
                    <td rowspan="4" style="vertical-align:middle">VII</td>
                    <td rowspan="4" style="vertical-align:middle">XI</td>
                </tr>
                <tr>
                    <td>Milind Kumar Vaddiraju</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>Pradyumna P Belgaonkar</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>Vishnupriya Puttaraju</td>
                    <td>C</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Mekhala S. Tunga</td>
                    <td>C</td>
                    <td>585</td>
                    <td>VIII</td>
                    <td>XII</td>
                </tr>
                <tr>
                    <td rowspan="2" style="vertical-align:middle">9</td>
                    <td>Shashank R</td>
                    <td>B</td>
                    <td rowspan="2" style="vertical-align:middle">584</td>
                    <td rowspan="2" style="vertical-align:middle">IX</td>
                    <td rowspan="2" style="vertical-align:middle">XIII</td>
                </tr>
                <tr>
                    <td>Vignesh S</td>
                    <td>B</td>
                </tr>

                <tr>
                    <td rowspan="2" style="vertical-align:middle">10</td>
                    <td>Aishwarya Rao</td>
                    <td>B</td>
                    <td rowspan="2" style="vertical-align:middle">583</td>
                    <td rowspan="2" style="vertical-align:middle">X</td>
                    <td rowspan="2" style="vertical-align:middle">XIV</td>
                </tr>
                <tr>
                    <td>Siddarth N</td>
                    <td>A</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="MilindKumar">
        <p class="homeTitle"> Congratulations to Mr. MilindKumar Vaddiraju </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="newsTblHead">Hearty Congratulations to</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="newsTblBody"><em class="newsTblBodyCont"> Mr. MilindKumar Vaddiraju for scoring 308 in IIT Mains and being one of the state toppers and for securing 20th rank in VIT. </em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Toppers of 2013-2014 -->
    <div class="row">
        <div id="cet_top" class="col-md-12">
            <h3 class="homeTitle"> CET TOP SCORERS 2013-2014 </h3>
        </div>
    </div>
    <hr/>
    <div style="font-weight:bold;font-size:25px;" class="text-center homeTitle"> CET TOP SCORERS 2013-2014 </div>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <img class="cetTop" src="assets/img/arjun-k.jpg" alt="..">
            <div class="cetName">
                <p style="padding-top:10px;"> ARJUN K </p>
                <p style="font-size:17px;"> 5th Rank in Engineering </p>
            </div>
        </div>
        <div class="col-md-4">
            <img class="cetTop" src="assets/img/preetham-ks.jpg" alt="..">
            <div class="cetName">
                <p style="padding-top:10px;"> PREETHAM K S </p>
                <p style="font-size:17px;"> 10th Rank in Engineering
                    <br> 29th Rank in Medical </p>
            </div>
        </div>
        <div class="col-md-4">
            <img class="cetTop" src="assets/img/prinyanka-rao.jpg" alt="..">
            <div class="cetName">
                <p style="padding-top:10px;"> PRIYANKA RAO </p>
                <p style="font-size:17px;"> 15th Rank in Engineering </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

            <img class="cetTop" src="assets/img/karan-k.jpg" alt="..">
            <div class="cetName">
                <p style="padding-top:10px;"> KARAN K </p>
                <p style="font-size:17px;"> 24th Rank in Engineering
                    <br> 211th Rank in Medical </p>
            </div>
        </div>
        <div class="col-md-4">
            <img class="cetTop" src="assets/img/padmanabha-prasan.jpg" alt="..">
            <div class="cetName">
                <p style="padding-top:10px;"> PADMANABHA PRASAN </p>
                <p style="font-size:17px;"> 26th Rank in Engineering </p>
            </div>
        </div>
        <div class="col-md-4">
            <img class="cetTop" src="assets/img/sanmathi-kamath.jpg" alt="..">
            <div class="cetName">
                <p style="padding-top:10px;"> SANMATHI KAMATH</p>
                <p style="font-size:17px;"> 39th Rank in Engineering </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="cetTop" src="assets/img/ramesh-balaji.jpg" alt="..">
            <div class="cetName">
                <p style="padding-top:10px;"> RAMESH BALAJI </p>
                <p style="font-size:17px;"> 42th Rank in Engineering </p>
            </div>
        </div>
        <div class="col-md-4">
            <img class="cetTop" src="assets/img/shreyas-ds.jpg" alt="..">
            <div class="cetName">
                <p style="padding-top:10px;"> SHREYAS D S </p>
                <p style="font-size:17px;"> 86th Rank in Engineering
                    <br> 210th Rank in Medical </p>
            </div>
        </div>
        <div class="col-md-4">

            <img class="cetTop" src="assets/img/yashaswini-k-murthy.jpg" alt="..">
            <div class="cetName">
                <p style="padding-top:10px;"> YASHASWINI K MURTHY </p>
                <p style="font-size:17px;"> 17th Rank in Engineering
                    <br> 24th Rank in Medical </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img class="cetTop" src="assets/img/vikas-p.jpg" alt="..">
            <div class="cetName">
                <p style="padding-top:10px;"> VIKAS P </p>
                <p style="font-size:17px;"> 76th Rank in Medical </p>
            </div>
        </div>
    </div>

    <!-- Success Stories -->

    <div id="Rekha_Phd">
        <p class="homeTitle"> Mrs. Rekha Savanth T.L receives Ph.D degree </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="newsTblHead"> Hearty Congratulations to </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="newsTblBody"><em class="newsTblBodyCont"> Mrs. Rekha Savanth On recieving a Ph.d Degree </em> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="Achutha_BS_Infosys">
        <p class="homeTitle"> Mr. Achutha B.S is Star Performer at Infosys Science Foundation </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="newsTblHead"> Hearty Congratulations to </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="newsTblBody"><em class="newsTblBodyCont"> Mr. Achutha B.S for winning 2nd Prize in the National level competition in Innovative experiments in Physics & for being adjudged as the “STAR PERFORMER” for the session conducted at Infosys Science Foundation. </em></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="puc_I_top" style="font-weight:bold;font-size:25px;" class="homeTitle"> I P.U.C TOP SCORERS: 2014-2015 </div>
    <p style="text-align:center"> TOP SCORERS </p>
    <table class="table table-bordered">
        <thead style="color:grey;">
            <tr>
                <th> Top Ten </th>
                <th> NAME OF THE STUDENT </th>
                <th> MARKS </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1 </td>
                <td> Abhighna G </td>
                <td> 591 </td>
            </tr>
            <tr>
                <td> 1 </td>
                <td> Milind Kumar Vaddiraju </td>
                <td> 591 </td>
            </tr>
            <tr>
                <td> 2 </td>
                <td> Dhanya Bharath </td>
                <td> 590 </td>
            </tr>
            <tr>
                <td> 3 </td>
                <td> Siddarth N </td>
                <td> 587 </td>
            </tr>
            <tr>
                <td> 3 </td>
                <td> Vignesh S </td>
                <td> 587 </td>
            </tr>
            <tr>
                <td> 4 </td>
                <td> Anughna G </td>
                <td> 586 </td>
            </tr>
            <tr>
                <td> 4 </td>
                <td> Rakshitha T </td>
                <td> 586 </td>
            </tr>
            <tr>
                <td> 5 </td>
                <td> Ananya D Apasangi </td>
                <td> 584 </td>
            </tr>
            <tr>
                <td> 5 </td>
                <td> Gagana P </td>
                <td> 584 </td>
            </tr>
            <tr>
                <td> 6 </td>
                <td> Jayapriya S</td>
                <td> 582 </td>
            </tr>
            <tr>
                <td> 6 </td>
                <td> Kshama K S </td>
                <td> 582 </td>
            </tr>
            <tr>
                <td> 7 </td>
                <td> Akshatha S </td>
                <td> 580 </td>
            </tr>
            <tr>
                <td> 8 </td>
                <td> Ankit Pradhan </td>
                <td> 578 </td>
            </tr>
            <tr>
                <td> 9 </td>
                <td> Sanjay M </td>
                <td> 576 </td>
            </tr>
            <tr>
                <td> 9 </td>
                <td> Suhas H E </td>
                <td> 576 </td>
            </tr>
            <tr>
                <td> 10 </td>
                <td> Mekhala S Tunga </td>
                <td> 574 </td>
            </tr>
            <tr>
                <td> 10 </td>
                <td> Shravan Kaup Shenoy </td>
                <td> 574 </td>
            </tr>
        </tbody>
    </table>
    <div id="puc_II_top" style="font-weight:bold;font-size:25px;" class="homeTitle"> II P.U.C TOP SCORERS: 2013-2014 </div>
    <p style="text-align:center"> TOP SCORERS </p>
    <table class="table table-bordered">
        <thead style="color:grey;">
            <tr>
                <th> Top Ten </th>
                <th> NAME OF THE STUDENT </th>
                <th> TOTAL MARKS </th>
                <th> PERCENTAGE </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1 </td>
                <td> KARAN K. </td>
                <td> 588 </td>
                <td> 98.00 </td>
            </tr>
            <tr>
                <td></td>
                <td>PARVATHI M.H. </td>
                <td> 588 </td>
                <td> 98.00 </td>
            </tr>
            <tr>
                <td> 2 </td>
                <td> KAVYASHREE M. HEBBAR </td>
                <td> 586 </td>
                <td> 97.67 </td>
            </tr>
            <tr>
                <td></td>
                <td> AJAY BHARADWAJ </td>
                <td> 586 </td>
                <td> 97.67 </td>
            </tr>
            <tr>
                <td> 3 </td>
                <td> ANIKETHAN H.V.U. </td>
                <td> 585 </td>
                <td> 97.50 </td>
            </tr>
            <tr>
                <td></td>
                <td> ARJUN K. </td>
                <td> 585 </td>
                <td> 97.50 </td>
            </tr>
            <tr>
                <td></td>
                <td> PADMANABHA PRASANNA SIMHA </td>
                <td> 585 </td>
                <td> 97.50 </td>
            </tr>
            <tr>
                <td></td>
                <td> SANMATHI KAMATH </td>
                <td> 585 </td>
                <td> 97.50 </td>
            </tr>
            <tr>
                <td> 4 </td>
                <td> SHIVANI LALIT CHANGELA </td>
                <td> 583 </td>
                <td> 97.17 </td>
            </tr>
            <tr>
                <td></td>
                <td> PRERNA M. DHARESHWAR</td>
                <td> 583 </td>
                <td> 97.17 </td>
            </tr>
            <tr>
                <td> 5 </td>
                <td> KEERTI P. </td>
                <td> 580 </td>
                <td> 96.67 </td>
            </tr>
            <tr>
                <td></td>
                <td> SAJINI PATEL G. </td>
                <td> 579 </td>
                <td> 96.50 </td>
            </tr>
            <tr>
                <td></td>
                <td> KARTHIK CHEGU </td>
                <td> 579 </td>
                <td> 96.50 </td>
            </tr>
            <tr>
                <td> 6 </td>
                <td> SHANCHANA S.</td>
                <td> 578 </td>
                <td> 96.33 </td>
            </tr>
            <tr>
                <td> 7 </td>
                <td> AKSHAY R. ADIGA </td>
                <td> 577 </td>
                <td> 96. 17 </td>
            </tr>
            <tr>
                <td> 8 </td>
                <td> KARTHIK H.S.</td>
                <td> 575 </td>
                <td> 95.83 </td>
            </tr>
            <tr>
                <td></td>
                <td> MURALI KRISHNA K.M. </td>
                <td> 575 </td>
                <td> 95.83 </td>
            </tr>
            <tr>
                <td></td>
                <td> HEMKESH V. </td>
                <td> 575 </td>
                <td> 95.83 </td>
            </tr>
            <tr>
                <td> 9 </td>
                <td> PRIYANKA RAO </td>
                <td> 574 </td>
                <td> 95.67 </td>
            </tr>
            <tr>
                <td> 10 </td>
                <td> HARSHITHA N. </td>
                <td> 573 </td>
                <td> 95.50 </td>
            </tr>
            <tr>
                <td></td>
                <td> SAKSHI SHARMA </td>
                <td> 573 </td>
                <td> 95.50 </td>
            </tr>
            <tr>
                <td></td>
                <td> SHWETHA SRINATH </td>
                <td> 573 </td>
                <td> 95.50 </td>
            </tr>
        </tbody>
    </table>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="newsTblHead"> Hearty Congratulations to </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="newsTblBody">
                        <p> <em class="newsTblBodyCont"> 1) PADMANABHA PRASANNA SIMHA ON SCORING 400/400 IN P.C.M.E SUBJECTS. </em></p>
                        <hr/>
                        <p> <em class="newsTblBodyCont">2) ARJUN KRISHNA ON SCORING 300/300 in P.C.M SUBJECTS. </em> </p>
                        <hr/>
                        <p> <em class="newsTblBodyCont"> 3) PARVATHI.M.H ON SCORING 300/300 in M.C.E SUBJECTS.  </em></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="font-weight:bold;font-size:25px;" class="homeTitle"> I P.U.C TOP SCORERS: 2013-2014 </div>
    <p style="text-align:center"> TOP SCORERS </p>
    <table class="table table-bordered">
        <thead style="color:grey;">
            <tr>
                <th> Top Ten </th>
                <th> REG NO </th>
                <th> NAME OF THE STUDENT </th>
                <th> COMBINATION (Language) </th>
                <th> TOTAL MARKS </th>
                <th> PERCENTAGE </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1 </td>
                <td> 135 </td>
                <td> Sagar V. </td>
                <td> PCMB (San)</td>
                <td> 589 </td>
                <td> 98.17 </td>
            </tr>
            <tr>
                <td> 2 </td>
                <td> 026 </td>
                <td> Apurva P. </td>
                <td> PCMB (San)</td>
                <td>586</td>
                <td>98.67</td>
            </tr>
            <tr>
                <td></td>
                <td>087 </td>
                <td> Mokshith M. Kothari </td>
                <td>PCMB (San) </td>
                <td>586</td>
                <td>98.67</td>
            </tr>
            <tr>
                <td> 3 </td>
                <td>020 </td>
                <td> Anirudh Krishna N.</td>
                <td>PCME (San)</td>
                <td> 584</td>
                <td> 97.33</td>
            </tr>
            <tr>
                <td></td>
                <td>091 </td>
                <td>Nagashree S. Holla</td>
                <td>PCMB (San)</td>
                <td>584</td>
                <td>97.33</td>
            </tr>
            <tr>
                <td></td>
                <td> 168 </td>
                <td> Sriram N. Rao</td>
                <td>PCMB (Hin)</td>
                <td> 584 </td>
                <td>97.33</td>
            </tr>
            <tr>
                <td> 4 </td>
                <td> 019</td>
                <td> Aniroodh Kumaraswamy</td>
                <td> PCMB (Hin)</td>
                <td> 583 </td>
                <td>97.17</td>
            </tr>
            <tr>
                <td></td>
                <td>162</td>
                <td> Sourabh R.M. </td>
                <td>PCME (San)</td>
                <td> 583</td>
                <td>97.17</td>

            </tr>
            <tr>
                <td> 5 </td>
                <td> 066 </td>
                <td> Karthik M. </td>
                <td>PCMB (San)</td>
                <td>582</td>
                <td>97.00</td>
            </tr>
            <tr>
                <td></td>
                <td> 079</td>
                <td> Manasa L. </td>
                <td>PCMB (San)</td>
                <td>582</td>
                <td>97.00</td>

            </tr>
            <tr>
                <td></td>
                <td> 136 </td>
                <td> Sagarika N. Suresh </td>
                <td>PCMB (Hin)</td>
                <td>582</td>
                <td>97.00</td>
            </tr>
            <tr>
                <td> 6 </td>
                <td> 106 </td>
                <td> Prajwal B. Bharadwaj </td>
                <td>PCME (San)</td>
                <td>581</td>
                <td>96.83</td>

            </tr>
            <tr>
                <td></td>
                <td>156</td>
                <td> Shreya Bhat </td>
                <td>PCMB (San)</td>
                <td>581</td>
                <td>96.83</td>

            </tr>
            <tr>
                <td> 7 </td>
                <td> 094 </td>
                <td> Neha N. Nayak</td>
                <td>PCMB (San)</td>
                <td>580</td>
                <td>96.67</td>
            </tr>
            <tr>
                <td> 8 </td>
                <td> 084 </td>
                <td> Meghana V. </td>
                <td>PCME (San)</td>
                <td>579</td>
                <td>96.50</td>
            </tr>
            <tr>
                <td> 9 </td>
                <td> 146 </td>
                <td>Sharmitha S. Bysani </td>
                <td>PCME (Hin)</td>
                <td>578</td>
                <td>96.33</td>
            </tr>
            <tr>
                <td></td>
                <td> 199 </td>
                <td>Viraja B.C. </td>
                <td>PCMB (San)</td>
                <td>578</td>
                <td>96.33</td>
            </tr>
            <tr>
                <td>10</td>
                <td> 030 </td>
                <td> Arun Kumar R. </td>
                <td>PCME (Kan)</td>
                <td>577</td>
                <td>96.17</td>
            </tr>
        </tbody>
    </table>
    <div style="font-weight:bold;font-size:25px;" class="homeTitle"> CET Top Scorers 2012-13 </div>
    <hr/>
    <div style="font-weight:bold;font-size:25px;" class="text-center homeTitle">ENGINEERING</div>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <img style="border:none;" class="cetTop" src="assets/img/Prajwal.jpg" alt="..">
            <div class="cetName">
                <p style="padding-top:10px;"> PRAJWAL K A </p>
                <p style="font-size:17px;"> STATE CET 1st RANK </p>
            </div>
        </div>
        <div class="col-md-4">
            <img style="border:none;" class="cetTop" src="assets/img/Sucheth.jpg" alt="..">
            <div class="cetName">
                <p style="padding-top:10px;"> SUCHETH S. KUNCHAM </p>
                <p style="font-size:17px;"> STATE CET 2nd RANK </p>
            </div>
        </div>
        <div class="col-md-4">
            <img style="border:none;" class="cetTop" src="assets/img/Manu.jpg" alt="..">
            <div class="cetName">
                <p style="padding-top:10px;"> MANU S.H. </p>
                <p style="font-size:17px;"> STATE CET 3rd RANK </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img style="border:none;" class="cetTop" src="assets/img/Surya.jpg" alt="..">
            <div class="cetName">
                <p style="padding-top:10px;"> SURYA R. </p>
                <p style="font-size:17px;"> STATE CET 7th RANK </p>
            </div>
        </div>
        <div class="col-md-6">
            <img style="border:none;" class="cetTop" src="assets/img/Chandrachud.jpg" alt="..">
            <div class="cetName">
                <p style="padding-top:10px;"> SURYA R. </p>
                <p style="font-size:17px;"> STATE CET 7th RANK </p>
            </div>
        </div>
    </div>
    <hr/>
    <div style="font-weight:bold;font-size:25px;" class="text-center homeTitle">MEDICAL</div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <img style="border:none;" class="cetTop" src="assets/img/Abhinav.jpg" alt="..">
            <div class="cetName">
                <p style="padding-top:10px;"> ABHINAV D.R.P. </p>
                <p style="font-size:17px;"> STATE CET 23RD RANK </p>
            </div>
        </div>
        <div class="col-md-6">

            <img style="border:none;" class="cetTop" src="assets/img/Soumya.jpg" alt="..">
            <div class="cetName">
                <p style="padding-top:10px;"> SOUMYA L. </p>
                <p style="font-size:17px;"> STATE CET 97th RANK </p>
            </div>
        </div>
    </div>
    <div style="font-weight:bold;font-size:25px;" class="homeTitle"> II P.U.C TOP SCORERS: 2012-13 </div>
    <p style="text-align:center"> LANGUAGES </p>
    <table class="table table-bordered">
        <thead style="color:grey;">
            <tr>
                <th> SL.No </th>
                <th> LANGUAGE </th>
                <th> NAME </th>
                <th> TOP SCORE </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1 </td>
                <td> Sanskrit </td>
                <td> Chandra Chud Murali </td>
                <td> 99 </td>
            </tr>
            <tr>
                <td> 2 </td>
                <td>Kannada</td>
                <td> Yathin V </td>
                <td> 93 </td>
            </tr>
            <tr>
                <td> 3 </td>
                <td> Hindi </td>
                <td> Raksha </td>
                <td> 93 </td>
            </tr>
            <tr>
                <td> 4 </td>
                <td> English </td>
                <td> Kiran.A </td>
                <td> 95 </td>
            </tr>
        </tbody>
    </table>
    <div>
        <p style="text-align:center"> PHYSICS </p>
        <table class="table table-bordered">
            <thead style="color:grey;">
                <tr>
                    <th> SL.No </th>
                    <th> NAME </th>
                    <th> TOP SCORE </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 1 </td>
                    <td> Aishwarya L.U </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 2 </td>
                    <td>Chandra Chud Murali</td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 3 </td>
                    <td> Kashyap Chitta </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 4 </td>
                    <td> Manu S H </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 5 </td>
                    <td> Namarata Nadagouda </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 6 </td>
                    <td> Pavan.R </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 7 </td>
                    <td> Prajwal K A </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 8 </td>
                    <td> Shashank S Kashyap </td>
                    <td>100</td>
                </tr>
                <tr>
                    <td> 9 </td>
                    <td> Sowmya Lakshmikanth </td>
                    <td> 100 </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p style="text-align:center"> CHEMISTRY </p>
        <table class="table table-bordered">
            <thead style="color:grey;">
                <tr>
                    <th> SL.No </th>
                    <th> NAME </th>
                    <th> TOP SCORE </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 1 </td>
                    <td> Chandra Chud Muralir </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 2 </td>
                    <td>Disha V</td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 3 </td>
                    <td> Harshitha S V </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 4 </td>
                    <td> Pavan.R </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 5 </td>
                    <td> Prajwal K A </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 6 </td>
                    <td> Surya R </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 7 </td>
                    <td> Sucheth S Kuncham </td>
                    <td> 100</td>
                </tr>
                <tr>
                    <td> 8 </td>
                    <td> Tejal.D </td>
                    <td> 100 </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p style="text-align:center"> MATHS </p>
        <table class="table table-bordered">
            <thead style="color:grey;">
                <tr>
                    <th> SL.No </th>
                    <th> NAME </th>
                    <th> TOP SCORE </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 1 </td>
                    <td> Akshay A Kumar </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 2 </td>
                    <td>Chandra Chud Murali</td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 3 </td>
                    <td> Jayanth V </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 4 </td>
                    <td> Kusuma U </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 5 </td>
                    <td> Namarata Nadagouda </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 6 </td>
                    <td> Nikhil R </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 7 </td>
                    <td> Prajwal K A </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 8 </td>
                    <td> Surya R </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 9 </td>
                    <td> Sanjay Vinayak H K </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 10 </td>
                    <td>Sanjitha K</td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 11 </td>
                    <td> Shashank S Kashyap </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 12 </td>
                    <td> Shreyas S Hegde </td>
                    <td> 100 </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p style="text-align:center"> BIOLOGY </p>
        <table class="table table-bordered">
            <thead style="color:grey;">
                <tr>
                    <th> SL.No </th>
                    <th> NAME </th>
                    <th> TOP SCORE </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 1 </td>
                    <td> Meghana.S </td>
                    <td> 97 </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p style="text-align:center"> ELECTRONICS </p>
        <table class="table table-bordered">
            <thead style="color:grey;">
                <tr>
                    <th> SL.No </th>
                    <th> NAME </th>
                    <th> TOP SCORE </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> 1 </td>
                    <td> Chaitra.S </td>
                    <td> 100</td>
                </tr>
                <tr>
                    <td> 2 </td>
                    <td>Kiran.A</td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 3 </td>
                    <td>Kushma U </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 4 </td>
                    <td>Sucheth S Kuncham </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 5 </td>
                    <td> Sujana Simha </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 6 </td>
                    <td> Kiran Ramesh </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 7 </td>
                    <td> Manu S H </td>
                    <td>100 </td>
                </tr>
                <tr>
                    <td> 8 </td>
                    <td> Nikhil R </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 9 </td>
                    <td> Prajwal K A </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 10 </td>
                    <td> Shashank S Kashyap </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 11 </td>
                    <td> Shreyas Srihari </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 12 </td>
                    <td> Skandh Garg </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 13 </td>
                    <td> Suchit Suresh </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 14 </td>
                    <td> Sudharshana S L </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 15 </td>
                    <td> Suprith S B </td>
                    <td> 100 </td>
                </tr>
                <tr>
                    <td> 16 </td>
                    <td> Susheela s </td>
                    <td> 100 </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>