<div class="container-fluid margin-style">
    <div class="row">
        <div class="col-md-8">
            <h3 class="homeTitle"> About Us </h3>
            <p style="padding-top:10px;">The Committee of Management of VVS is a combination of highly qualified, richly experienced and versatile personalities giving it multiple dimensions.</p>
            <div class="panel-group" id="accordion">
                <div class="panel panel-primary">
                    <div class="panel-heading grad">
                        <h4 class="panel-title aboutTitle">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" target="_self">Core Members</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body aboutImage" style="border-top-color: black !important;border-top: black !important;">
                            <div class="row">
                                <div class="col-md-3">
                                    <img style="border:8px solid white" src="assets/img/PR-Mundewadi11.jpg">
                                </div>
                                <div class="col-md-9">
                                    <p style="color:#e4b804;"><strong>Sri P R Mundewadi Chairman</strong></p>
                                    <p style="color:white;"> Called a financial wizard, <span style="color:#e4b804;"> Sri P R Mundewadi </span> is
                                        a Chartered Accountant who rose to very high positions in Kirloskar Electricals Ltd
                                        and Kirloskar Investment Ltd. Having been the Chairman of VVS, he has provided the
                                        institution with a vision for future, discreet expansion, quiet consolidation and
                                        most modern technology.</p>
                                </div>
                            </div>
                            <div style="margin-top:50px;" class="row">
                                <div class="col-md-9">
                                    <p style="color:#e4b804;"><strong>Sri P G Dwarakanath Hon. Secretary</strong></p>
                                    <p style="color:white;"> A teacher by passion and profession, <span style="color:#e4b804;"> Mr P G Dwarakanath </span>                                        is President’s Best Teacher awardee and is a strength behind all academic and co-academic
                                        activities of the Sangha.</p>
                                </div>
                                <div class="col-md-3">
                                    <img style="border:8px solid white" src="assets/img/PG-Dwarakanath12.jpg">
                                </div>
                            </div>
                            <div style="margin-top:50px;" class="row">
                                <div class="col-md-3">
                                    <img style="border:8px solid white" src="assets/img/Hariprasad11.jpg">
                                </div>
                                <div class="col-md-9">
                                    <p style="color:#e4b804;"><strong>Sri S Hariprasad Hon. Jt.Secretary</strong></p>
                                    <p style="color:white;"> A commerce graduate by educational qualification,<span style="color:#e4B804;"> Mr S Hariprasad </span>                                        has shouldered a wide array of responsibilities in the VVS. But a multifaceted specialist
                                        from official issues to legal issues, acts of trusts and societies.</p>
                                </div>
                            </div>
                            <div style="margin-top:50px;" class="row">
                                <div class="col-md-9">
                                    <p style="color:#e4b804;"><strong>Sri Seshadri Iyer Hon. Treasurer</strong></p>
                                    <p style="color:white;"> A graduate in Commerce,<span style="color:#e4B804"> Mr Seshadri Iyer </span> has a lot
                                        of experience in account management and he takes care of all the financial transactions
                                        of VVS on the dint of his cautious thrift, discretion and meticulousness.</p>
                                </div>
                                <div class="col-md-3">
                                    <img style="border:8px solid white" src="assets/img/Seshadri-Iyer1.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading grad">
                        <h4 class="panel-title aboutTitle">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" target="_self">Members</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body" style="border-top-color: black !important;border-top: black !important;">
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading grad">
                        <h4 class="panel-title aboutTitle">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" target="_self">Members By Invitation</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body" style="border-top-color: black !important;border-top: black !important;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 accolades">
            <div class="text-center aboutTitle" style="color:white;">Accolades</div>
            <marquee style="max-height:100%;height:500px;" direction="up" scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();">
                <div>
                    <p><img src="assets/img/rakshitha-acc.png" style="margin-left:3px;"></p>
                </div>
            </marquee>
        </div>
    </div>
</div>