<div class="content">
  	<div class="container" style="margin-left:1%">
   	 <h2 style="font-size:20px;margin-right:8.5em;">Locate Us</h2>
     	<div class="left-panel" style="margin-bottom:2%">
        	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.499061205738!2d77.552549!3d13.003860000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15bebfffffff%3A0xea61913c7f660977!2sVidya+Vardhaka+Sangha!5e0!3m2!1sen!2sin!4v1430592788368" width="540" height="300" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="right-panel address" style="float:right;margin-right:8em">
        	<strong>VVS Gandhi Centenary School</strong><br>
            1st 'N' Block, Rajajinagar<br>
            Bangalore – 560010<br>
            Phone : +91 80 23323613
        </div>
   </div>
</div>