<div class="container-fluid margin-style" style="padding-bottom:2%">
    <div class="row">
        <div class="col-md-12">
            <h3 class="homeTitle">Faculty Details</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img class="facultyName" src="assets/img/Dr-M-C-Prakash.jpg">
        </div>
        <div class="col-md-9">
            <p class="facultyNameHead"> Dr. M.C. Prakash</p>
            <p> An Associate Professor of English, <span style="color:#333399;"> Dr. M.C. Prakash </span> guides the academic
                activities of the College as an Honorary Advisor. His rich experience in academics and excellence in administration
                are the strength behind the success of the College. A strict disciplinarian and a source of inspiration to
                students and faculty members.</p>
        </div>
    </div>
    <div style="margin-top:30px" class="row">
        <div class="col-md-9">
            <p class="facultyNameHead"> Mrs. Chandra Singh</p>
            <p> With a Masters degree in Sociology <span style="color:#333399;"> Mrs. Chandra Singh </span> has had rich experience
                in both teaching and administration as the Principal of V.V.S. P.U. College for Women. After her superannuation
                Mrs. Singh has been officiating as the Co-ordinator of the P.U. Colleges in V.V.S. and Sardar Patel P.U.
                College has benefited utmost from her experience as well as expert guidance.</p>
        </div>
        <div class="col-md-3">
            <img class="facultyImg" src="assets/img/smt-Chandra-Singh.jpg">
        </div>
    </div>
    <div class="row" style="margin-top:30px">
        <div class="col-md-3">
            <img class="facultyName" src="assets/img/Srividya.jpg">
        </div>
        <div class="col-md-9">
            <p class="facultyNameHead"> Mrs. Srividya</p>
            <p> A master degree holder in Chemistry, <span style="color:#333399"> Mrs. Srividya </span> is both a creative teacher
                and an efficient administrator. With precocity coupled with zeal she has carried on her young shoulders the
                responsibility of running this college smilingly and has been instrumental in its success from the beginning.</p>
        </div>
    </div>
    <div style="margin-top:30px;" class="row">
        <div class="col-md-9">
            <p class="facultyNameHead"> Mrs. Padmavathy </p>
            <p> With M.Sc, and M.Phil in Physics <span style="color:#333399;"> Mrs. Padmavathy </span> has had a lot of experience
                in teaching P.U. Classes in a few colleges. Her subject knowledge is strengthened by deep concern for students
                for whose sake she spares no efforts. She has built the department from inception.</p>
        </div>
        <div class="col-md-3">
            <img class="facultyImg" style="width:167px;height:150px;" src="assets/img/padmavathi.jpg">
        </div>
    </div>
    <div class="row" style="margin-top:30px">
        <div class="col-md-3">
            <img class="facultyName" src="assets/img/smt-Rekha-Ananthakumar.jpg">
        </div>
        <div class="col-md-9">
            <p class="facultyNameHead"> Dr. Rekha Savanth T.L </p>
            <p> <span style="color:#333399;"> Dr. Rekha Savanth T.L</span>, The Head of the Department of Biology, has reared
                her department from the very beginning, though she had little experience to boast of, then. Through keen
                interest, distinct drawing talent and zeal, she has motivated quite a number of students to take up the medical
                line which is not the priority of youngsters today.
            </p>
        </div>
    </div>
    <div style="margin-top:30px;" class="row">
        <div class="col-md-9">
            <p class="facultyNameHead"> Mrs. Susheela </p>
            <p> Her M.Sc , M.Phil and lengthy experience in teaching Degree as well as Engineering students do not stand comparison
                with her passion for Mathematics, knowledge, competence in imparting the subject and skill in carrying her
                student-folk with her owing to which <span style="color:#333399"> Mrs. Susheela </span> has inspired students
                to study Mathematics without inhibition.

            </p>
        </div>
        <div class="col-md-3">
            <img class="facultyImg" src="assets/img/B-H-Susheela.jpg">
        </div>
    </div>
    <div class="row" style="margin-top:30px">
        <div class="col-md-3">
            <img class="facultyName" src="assets/img/smt-Jyothi-A-N.jpg">
        </div>
        <div class="col-md-9">
            <p class="facultyNameHead"> Mrs. A. N. Jyothi </p>
            <p> Having done her M.A. & M.Phil in English, <span style="color:#333399;"> Mrs. A. N. Jyothi </span> conducts English
                classes with her quiet efficiency and lends a subtle support to all the activities-both academic and co-curricular-of
                the college.
            </p>
        </div>
    </div>
    <div style="margin-top:30px;" class="row">
        <div class="col-md-9">
            <p class="facultyNameHead"> Mrs. Asha S Rao </p>
            <p> Specialized in M.Sc.-Botany, <span style="color:#333399;"> Mrs. Asha S Rao </span> is enriched by teaching experience
                at various levels Meticulous and disciplined in her approach, she organizes her teaching schedule systematically
                and has been instrumental in motivating her students to take up the medical line in large numbers.
            </p>
        </div>
        <div class="col-md-3">
            <img class="facultyImg" src="assets/img/smt-Asha-S-Rao.jpg">
        </div>
    </div>
    <div class="row" style="margin-top:30px">
        <div class="col-md-3">
            <img class="facultyName" src="assets/img/smt-Shailaja-V.jpg">
        </div>
        <div class="col-md-9">
            <p class="facultyNameHead"> Mrs. Shailaja </p>
            <p> <span style="color:#333399;"> Mrs. Shailaja</span>, gifted with histrionic and literary talent, has put in more
                than 15 years of experience in teaching Chemistry in a few colleges. Clarity of thought and expression makes
                her an impressive teacher.
            </p>
        </div>
    </div>
    <div style="margin-top:30px;" class="row">
        <div class="col-md-9">
            <p class="facultyNameHead"> Mr. Achutha </p>
            <p>Passionate about the teaching profession, Mr. Achutha has profound interest in empirical pursuits as also science
                related competitive exams and students’ performance in them. He experiments with the teaching methodology
                seeking more effective methods of teaching Physics.
            </p>
        </div>
        <div class="col-md-3">
            <img class="facultyImg" src="assets/img/IMG_0120.jpg">
        </div>
    </div>
    <div class="row" style="margin-top:30px">
        <div class="col-md-3">
            <img class="facultyName" src="assets/img/Sangeetha-Srinidhi2.jpg">
        </div>
        <div class="col-md-9">
            <p class="facultyNameHead"> Mrs. Sangeetha Srinidhi </p>
            <p> A multiple degree holder an Engineer in Electronics, M.Sc.in Physics and MBA, with experience in teaching Electronics
                to Engineering students, <span style="color:#333399;"> Mrs. Sangeetha Srinidhi </span> has commendable mastery
                over the subject as well as the medium that is English. Besides building the department she is a support
                to the cultural activities of the college as an exponent of Veena and Vocal music.
            </p>
        </div>
    </div>
    <div style="margin-top:30px;" class="row">
        <div class="col-md-9">
            <p class="facultyNameHead"> Mrs. Vasuki N.V </p>
            <p> <span style="color:#333399;"> Mrs. Vasuki N.V </span> is a master degree holder in Electronics and is also pursuing
                her M.Phil. Supported by her knowledge of content as well as the competence of expression, she is a strong
                support to the growing department of Electronics.
            </p>
        </div>
        <div class="col-md-3">
            <img class="facultyImg" src="assets/img/smt-Vasuki-N-V.jpg">
        </div>
    </div>
    <div class="row" style="margin-top:30px">
        <div class="col-md-3">
            <img class="facultyName" style="width:167px;height:150px;" src="assets/img/archana.jpg">
        </div>
        <div class="col-md-9">
            <p class="facultyNameHead"> Mrs. Archana Chougala </p>
            <p> <span style="color:#333399;"> Mrs. Archana Chougala </span> did her M.Sc in Chemistry from Karnataka State Women’s
                University, Vijayapura with a distinction in 2009. She has also done her B.Ed to strengthen her teaching
                skills. She joined the College in 2013 and her total experience in teaching is 4 years.
            </p>
        </div>
    </div>
    <div style="margin-top:30px;" class="row">
        <div class="col-md-9">
            <p class="facultyNameHead"> The Languages </p>
            <p>Kannada, Sanskrit, Hindi is handled by <span style="color:#333399;"> Mrs. Shwetha.M, Mr. Krishna Murthy Maiya </span>                and <span style="color:#333399;"> Mrs. Pushpa Varnekar </span> who conduct the classes, complementary in
                the optional subjects with a pragmatic view of the place of languages in the PU-Science curriculum. They
                also support the system by mentoring the students and meeting the parents.
            </p>
        </div>
    </div>
    <div style="margin-top:30px;" class="row">
        <div class="col-md-9">
            <p class="facultyNameHead"> Mrs. Leela Venugopal </p>
            <p> The Library is crucial, as well as significant for the academic growth of students. <span style="color:#333399;"> Mrs. Leela Venugopal, </span>                M.A. M. LIS, has developed the library of the college and takes care of the needs of students as well as
                lecturers in books by keeping record of the books and magazines borrowed, placing orders for new ones and
                in their maintenance. She also documents the major developments in the academic field in the country.
            </p>
        </div>
        <div class="col-md-3">
            <img class="facultyImg" src="assets/img/smt-leela-venugopal.jpg">
        </div>
    </div>
    <div style="margin-top:30px;" class="row">
        <div class="col-md-9">
            <p class="facultyNameHead"> Office </p>
            <p> The office of the college functions efficiently in maintaining the records of all students and the staff. It
                is equally efficient in communicating with the PU Department so that the career of the students is secure.
                <span style="color:#333399;"> Mr. B. T. Srinivasamurthy</span>, who has put in more than 20 years of service
                in VVS, specializes in details related to a PU college and the PU department, taking care of the office work
                with cool efficiency.
                <span style="color:#333399;"> Mrs. Sunanda </span> lends support to the office in typing and maintenance
                of files and the routine work.
            </p>
        </div>
    </div>
    <div style="margin-top:30px;" class="row">
        <div class="col-md-9">
            <p class="facultyNameHead"> The Attenders </p>
            <p> The attenders of the college are efficient and sincere and support the college in all the curricular and co-curricular
                activities. They also help in the smooth conduct of the practicals and maintenance of the College premises
                as well as the botanical garden.
            </p>
        </div>
        <div class="col-md-3">
            <img class="facultyImg" style="width:200px;height:150px;" src="assets/img/attenders.jpg">
        </div>
    </div>
</div>