.facultyName{
	padding-left:px;
	border:10px solid #f2f2f2;
}
.facultyNameHead{
	font-weight: bold;
}
.facultyImg{
	border:10px solid #f2f2f2;
}
.homeTitle{
	font-family: 'Marvel','sans-serif';
	font-size:30px;
	line-height:1.3em;
	color: #444;
}