/* You can add global styles to this file, and also import other style files */
body{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}
body {
	background:url(assets/img/back_img.png) repeat-x #d3eaff;
}