 <div class="content">
    <div class="container-fluid margin-style"> 
    	<h4 class="title-display">Competitions</h4>       
        <p>To enhance literary skills and powers of expression, the following competitions are conducted. A few are :</p>
       	<h4 style="color:initial">Literary </h4>
        <p>Debate, Recitation, Essay writing, Picture description, Cross-word puzzle, etc.</p>
        
        <h4 style="color:initial">Cultural</h4>
        <p>To keep up our culture and tradition, literature and art-form, the following competitions are conducted every year. Group Song, Group Dance, Dramatics, Solo song and dance, Rangoli, Cookery, Mehandi designing  to name a few.</p>
        <div style="text-align:center">        	        
        	<img src="../assets/img/primary1.jpg" alt="" style="padding-bottom:1%"/>           
        	<img src="../assets/img/primary2.jpg" alt=""   style="padding-bottom:1%"/> 
            <img src="../assets/img/primary3.jpg" alt="" style="padding-bottom:1%"/>            
        	<img src="../assets/img/primary4.jpg" alt=""   style="padding-bottom:1%"/>
            <img src="../assets/img/primary5.jpg" alt=""   style="padding-bottom:1%"/>
        </div>
        <h4 style="color:initial">Competitive Exams</h4>
        <p>To help students think differently, improve their application skills and prepare them for advanced learning they are motivated to take up competitive exams conducted by various National and International Organisations viz.</p>
       	<ul class="arrow-points" style="list-style:none;padding-left:0">
        	<li>All India General Knowledge Exam</li>
            <li>Math and Science Olympiad</li>
            <li>Diagnostic test conducted by ASSET (Educational Initiatives)</li>
            <li>IA&amp;AS</li>
        </ul>  
    </div>
  </div>  