<div class="container-fluid margin-style">
	<div class="row">
		<div class="col-md-4 gcs-ach-1">
			<h4 class="title-display">SCHOLASTIC ACHIEVERS :</h4>
			<p><b>First 10 Toppers of Std VII (2014 – 15)</b></p>
				<table class="table table-bordered" style="font-weight:bold;">
					<tr>
						<td>1</td>
						<td>Shashank B.S</td>
					</tr>
					<tr>
						<td>2</td>
						<td>K.S. Spoorthi</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Akash B.S</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Harshitha M.V</td>
					</tr>
					<tr>
						<td>5</td>
						<td>Tejas S</td>
					</tr>
					<tr>
						<td>6</td>
						<td>Rakshith S</td>
					</tr>
					<tr>
						<td>7</td>
						<td>Neha S</td>
					</tr>
					<tr>
						<td>8</td>
						<td>Sanat S. Ingalgi</td>
					</tr>
					<tr>
						<td>9</td>
						<td>Varun A. Kulkarni</td>
					</tr>
					<tr>
						<td>10</td>
						<td>Deepit S. Patil</td>
					</tr>
				</table>
		</div>
		<div class="col-md-8 gcs-ach-2">
			<h4 class="title-display">NON SCHOLASTIC ACHIEVERS :</h4>
			<p><b>International Level Achievers</b></p>
			<ul class="arrow-points">
				<li>Raghunandan K.S. (V C) – <b>Chess</b></li>
				<li>Sangeetha Phaneesh (VI B) – <b>Recognised by Global Record Books</b></li>
				<li>Ajeya B.S. (VII B) – <b>369th rank, Maths Olympiad</b></li>
				<li>K. (V B) – <b>192nd rank, National Science Olympiad</b></li>
			</ul>
			<p><b>National Level Achievers</b></p>
			<ul class="arrow-points">
				<li>Aravind V. Upadhye (VI C) – <b>FIIT JEE (Qualified for level 2)</b></li>
				<li>Sukruth N. Bhat (VI C) – <b>FIIT JEE</b></li>
				<li>Apeksha C. Nayak (VII B) – <b>Badminton</b></li>
			</ul>
			<p><b>State Level Achievers</b></p>
			<ul class="arrow-points">
				<li>Rohan Patil (VII A) – <b> Table Tennis</b></li>
				<li>Gaurav S. (VI B) – <b> Table Tennis</b></li>
				<li>Karthik Surya (VI A) – <b> Table Tennis</b></li>
				<li>Ankitha Siri Prasad (VII A)– <b>Badminton</b></li>
				<li>Sheetal Sudarshan (VII D) – <b>Badminton</b></li>
			</ul>
		</div>
	</div>
</div>